.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 250px;
}
button[_ngcontent-vii-c1] {
    width: 100px;
    height: 30px;
    color: black;
    border-radius: inherit;
    color: darkblue;
}