input {
    border: none;
    outline: none;
    margin-left: 2%;
    margin-top: 1%;
    height: 40px;
    font-size: 18px;
    word-wrap: wrap;
    // flex-wrap: wrap;
    width: 40vw;
    height: auto;
  }