<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap='20px'>
    <mat-card>
        <div class="Email" fxLayout=column fxLayoutAlign="center center">

            <mat-form-field appearance="outline" fxFlex="150">
                <mat-label>Enter Your Password</mat-label>
                <input matInput placeholder="Email" type="text" [(ngModel)]="reset.password"  [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
                <mat-icon matSuffix><img src="../../../assets/email.svg"></mat-icon>

            </mat-form-field>

        </div>
            <div class="Email" fxLayout=column fxLayoutAlign="center center">

                <mat-form-field appearance="outline" fxFlex="150">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Password" type="text" [(ngModel)]="reset.confirmPassword"  [formControl]="password" required>
                    <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
                    <mat-icon matSuffix><img src="../../../assets/email.svg"></mat-icon>

            </mat-form-field> 
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap='20px'>

                    <div class="SubmitButton">
                        <button mat-flat-button color="primary" (click)="submitPassword()">Submit </button>
                    </div>

            </div>
       
    </mat-card>

</div>